
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Titillium Web', sans-serif; 
	background-image: url("../img/background.jpg");
}
.column-card-list {
	min-height: 100px;
	list-style-type: none;
}
.card-placeholder {
	background-color: #a54d4d;
}
.column:first-child {
	margin-left: 0;
}
.container {
    text-align: center;
    margin: 0 auto;
}
.create-column {
	border: none;
	background-color: #414553;
	height: 2em;
	width: 10em;
	font-size: 1em;
	color: #fff;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
}
.create-column:hover {
	cursor: pointer;
}
.column-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.column-container div:nth-child(1) {
	background-color: rgba(255, 0, 0, 0.3); 
}
.column-container div:nth-child(2) {
	background-color: rgba(255, 255, 0, 0.3); 
}
.column-container div:nth-child(3) {
	background-color: rgba(0, 0, 255, 0.3); 
}
.column {
    float: left;
	margin: 10px;
	padding: 20px;
	min-width: 400px;
	min-height: 50vh;
	margin-left: 2em;
	position: relative;
	background-color: #000;
}
.column .column-title {
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.1em;
}
.column-card-list {
	list-style-type: none;
}
.column .btn-delete {
	position: absolute;
	right: 0;
	top: 0;
	width: 22px;
	height: 22px;
	background-color: #D4DBE5;
	border: none;
	color: #4E4F51;
	padding-right: 2px;
}
.column .add-card {
	background-color: #D4DBE5;
	color: #4E4F51;
	border: none;
	width: 7em;
	height: 2em;
	font-size: 0.8em;
	position: absolute;
	top: 4em;
	left: 0;
}
.ui-sortable {
	padding: 0;
}
.card {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	background-color: #324551;
	min-height: 4em;
	padding: 0;
	margin-top: 0.5em;
}
.card p {
	color: #fff;
}
.card .btn-delete {
	position: absolute;
	right: 0;
	top: 0;
	width: 22px;
	height: 22px;
}
.column-card-list {
    min-height: 100px;
}
h1 {
	color: #fff;
}